@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flip card animation */
.flip-card {
  perspective: 1000px;
  width: 350px;
  height: 200px;
  position: relative;
}

.flip-inner {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.flip-inner.flip {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.flip-back {
  transform: rotateY(180deg);
}
